nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  height: 72px;
  align-items: center;
  background-color: #f7f8fc00;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.logo {
  color: black;
  background-color: black;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

button {
  margin: 13px 90px 5px;
  padding: 9px 31px;
  border-color: #6674cc;
  border-style: solid;
  border-radius: 20px;
  background: #6674cc;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: 900px; */
  font-size: 18px;
}
.main {
  padding: 35px;
  margin-top: 55px;
  display: flex;
  height: 120px;
  width: 100px;
  background-color: transparent;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero1 {
  position: relative;
  left: 750px;
  bottom: 275px;
  padding: 0px 12px 14px 25px;
  margin: 0px 10px 13px 19px;
}
h1 {
  display: flex;
  font-size: 70px;
  padding: 75px 75px 12px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section {
  background-color: aliceblue;
}
.abcd {
  font-size: 25px;
  padding: 0px 65px 9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fish{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  left: 16%;
  padding-bottom: 30%;
}

footer {
  background-color: #6674cc;
  color: #fff;
  text-align: center;
  padding: 70px 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  footer {
    padding: 50px 0; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  footer {
    padding: 30px 0; /* Further adjust padding for even smaller screens */
  }
}
